{% extends 'base_backOffice.twig' %}

{% block title %}Mot de passe oublié{% endblock %}
{% block navbar %}{% endblock %}
{% block sideNavbar %}{% endblock %}
{% block body %}
<a class="a-textAriane" href="{{ path('app_products') }}">< Retour au site</a>
<div class="form-center">
    <h1 class="a-title1 -center">Mot de passe oublié</h1>
    {{ form_start(passForm) }}
        {% if request is defined and request %}
            {{ form_row(passForm.email) }}
        {% else %}
            {{ form_row(passForm.password) }}
        {% endif %}
        
        <div class="generic-center generic-m40t">
            {% include '@atom/button/button.html.twig' with {
                text: "Envoyer",
                attributeList: {
                    class: '-primary',
                    title:"Envoyer",
                    type:"submit"
                }
            } only %}
            {% include '@atom/button/button.html.twig' with {
                text: "Annuler",
                attributeList: {
                    class: '-primaryGhost',
                    title:"Retour à la connexion",
                    href: path('app_login'),
                }
            } only %}
        </div>
    {{ form_end(passForm) }}
</div>


{% endblock %}