{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block body %}
	<div class="l-frontOffice__content -centerBlock">

     {% for message in app.flashes('success') %}
			{% include '@molecule/addflash/addflash.html.twig' with {
				text: message,
				attributeList: {
					class: "-website"
				}
			} %}		
		{% endfor %}

	</div>
  <div class="p-home__hero">
    <div class="p-home__heroBasket">
      <img src="{{ vich_uploader_asset(page.featuredProduct, 'imageFile') | imagine_filter('min400x200') }}" alt="{{ page.featuredProduct.productName }}"  class="p-home__heroBasketImg"/>
      <div class="p-home__heroBasketWrapper">
        <h2 class="a-title2 -black">{{ page.featuredProduct.category.name }} de la semaine</h2>
        <h3 class="a-p -bold">{{ page.featuredProduct.productName }}</h3>
        <p class="a-textDetails -black">{{ page.featuredProduct.productDescription|length > 200 ? page.featuredProduct.productDescription|slice(0, 200) ~ '...' : page.featuredProduct.productDescription}}</p>
        {% include '@atom/button/button.html.twig' with {
              text: 'En savoir plus',
              attributeList: {
                  class: '-website',
                  href: path('details_product', { 'id' : page.featuredProduct.id }),
              }
          } only %}
      </div>
    </div>
    <img src="{{ vich_uploader_asset(page, 'imageFile') | imagine_filter('extralarge') }}" alt="{{ page.title }}"  class="p-home__heroImg"/>
  </div>

  <div class="l-frontOffice__content -flexCenter -center -marginY">
    {% include '@molecule/card/card.html.twig' with {
        image: '/images/produits.webp',
        imageAlt: 'image',
        title: 'Nos produits',
        text: 'Découvrez les produits de notre région et soutenez nos agriculteurs !',
        textClass: 'a-textDetails -grey generic-m16b',
        buttonText: 'Les produits',
        buttonLink: '#',
        buttonTitle: 'button direction',
    } only %}	
    {% include '@molecule/card/card.html.twig' with {
        image: '/images/distribution.webp',
        imageAlt: 'image',
        title: 'Nos lieux de distribution',
        text: 'Trouvez le lieu de distribution le plus proche de chez vous',
        textClass: 'a-textDetails -grey generic-m16b',
        buttonText: 'Nous trouver',
        buttonLink: '#',
        buttonTitle: 'button direction',
    } only %}	
    {% include '@molecule/card/card.html.twig' with {
        image: '/images/amap.png',
        imageAlt: 'image',
        title: 'L\'association',
        text: 'Découvrez l\'association, ses bénévoles et ses agriculteurs !',
        textClass: 'a-textDetails -grey generic-m16b',
        buttonText: 'Découvrir l\'amap',
        buttonLink: '#',
        buttonTitle: 'button direction',
    } only %}	
  </div>
<div class="generic-greenBackgroundWebsite generic-center generic-p16top">
  <h2 class="a-title2 -black">Comment ça marche ?</h2>
  <p class="a-textDetails -grey">On vous explique à quoi sert l'abonnement !</p>
  <div class="l-frontOffice__content -flexCenter -center -marginY">
    {% include '@molecule/card/card.html.twig' with {
        image: '/images/abonnement.svg',
        imageAlt: 'image',
        imageClass: '-noObjectFit',
        title: 'L\'abonnement',
        text: 'L\'abonnement (6 mois minimum), donne accès à un panier par semaine !',
        textClass: 'a-textDetails -black generic-m16b',
    } only %}	
    {% include '@molecule/card/card.html.twig' with {
        image: '/images/producteur.svg',
        imageAlt: 'image',
        imageClass: '-noObjectFit',
        title: 'Nos producteurs',
        text: 'Tout près de chez vous, ils peuvent grâce à l\'abonnement se projeter sereinement les 6 prochains mois',
        textClass: 'a-textDetails -black generic-m16b',
    } only %}	
    {% include '@molecule/card/card.html.twig' with {
        image: '/images/assiette.svg',
        imageAlt: 'image',
        imageClass: '-noObjectFit',
        title: 'Votre assiette',
        text: 'Grâce à ce système, en plus de soutenir les producteurs vous mangez local et de saison',
        textClass: 'a-textDetails -black generic-m16b',
    } only %}	
  </div>
</div>

  
{% endblock %}