{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block body %}
	<div class="l-frontOffice__content -centerBlock">

     {% for message in app.flashes('success') %}
			{% include '@molecule/addflash/addflash.html.twig' with {
				text: message,
				attributeList: {
					class: "-website"
				}
			} %}		
		{% endfor %}

	</div>
  <div class="p-home__hero">
    <div class="p-home__heroBasket">
      <img src="{{ vich_uploader_asset(page.featuredProduct, 'imageFile') | imagine_filter('min400x200') }}" alt="{{ page.featuredProduct.productName }}"  class="p-home__heroBasketImg"/>
      <div class="p-home__heroBasketWrapper">
        <h2 class="a-title2 -black">{{ page.featuredProduct.category.name }} de la semaine</h2>
        <h3 class="a-p -bold">{{ page.featuredProduct.productName }}</h3>
        <p class="a-textDetails -black">{{ page.featuredProduct.productDescription|length > 200 ? page.featuredProduct.productDescription|slice(0, 200) ~ '...' : page.featuredProduct.productDescription}}</p>
        {% include '@atom/button/button.html.twig' with {
              text: 'En savoir plus',
              attributeList: {
                  class: '-website',
                  href: path('details_product', { 'id' : page.featuredProduct.id }),
              }
          } only %}
      </div>
    </div>
    <img src="{{ vich_uploader_asset(page, 'imageFile') | imagine_filter('min400x200') }}" alt="{{ page.title }}"  class="p-home__heroImg"/>
  </div>

  <div class="l-frontOffice__content -flexCenter -center -marginY">
    {% include '@molecule/card/card.html.twig' with {
        image: '/images/home.jpg',
        imageAlt: 'image',
        title: 'Mon titre',
        text: 'blabla',
        textClass: 'a-textDetails -black',
        buttonText: 'button',
        buttonLink: '#',
        buttonTitle: 'button direction',
    } only %}	
    {% include '@molecule/card/card.html.twig' with {
        image: '/images/home.jpg',
        imageAlt: 'image',
        title: 'Mon titre',
        text: 'blabla',
        textClass: 'a-textDetails -black',
        buttonText: 'button',
        buttonLink: '#',
        buttonTitle: 'button direction',
    } only %}	
    {% include '@molecule/card/card.html.twig' with {
        image: '/images/home.jpg',
        imageAlt: 'image',
        title: 'Mon titre',
        text: 'blabla',
        textClass: 'a-textDetails -black',
        buttonText: 'button',
        buttonLink: '#',
        buttonTitle: 'button direction',
    } only %}	
  </div>
<div>
  <div class="l-frontOffice__content -flexCenter -center -marginY">
    {% include '@molecule/card/card.html.twig' with {
        image: '/images/home.jpg',
        imageAlt: 'image',
        title: 'Mon titre',
        text: 'blabla',
        textClass: 'a-textDetails -black',
    } only %}	
    {% include '@molecule/card/card.html.twig' with {
        image: '/images/home.jpg',
        imageAlt: 'image',
        title: 'Mon titre',
        text: 'blabla',
        textClass: 'a-textDetails -black',
    } only %}	
    {% include '@molecule/card/card.html.twig' with {
        image: '/images/home.jpg',
        imageAlt: 'image',
        title: 'Mon titre',
        text: 'blabla',
        textClass: 'a-textDetails -black',
    } only %}	
  </div>
</div>

  
{% endblock %}