{% set componentClass = 'm-menuArbo js-menu-element' %}
{% set attributeList = attributeList is defined ? attributeList : {} %}
{% set attributeList = attributeList|merge({'class': (attributeList.class is defined ? componentClass ~' ' ~ attributeList.class : componentClass)}) %}

<nav {% for attribute, value in attributeList %} {{ attribute }}="{{ value }}"{% endfor %}>
<div class="m-menuArbo__menuButton-onlyForMobile js-menu-button"><img src="/icons/tree.svg" alt="arborescence"></div>
<ul>
	{# This navigation is static for the moment, resume this diagram in case of dynamization #}
	{% set linkList = [
		{
		'text': 'Page "Accueil"',
		'href': 'app_products-admin',
		},
		{
		'text': 'Page "Les Produits"',
		'href': 'app_products-admin',
		'subLinkList': {
			'text': 'Produits',
			'href': 'app_products-admin',
			},
		},
		{
		'text': 'L\'AMAP',
		'href': 'app_products-admin',
		},
		{
		'text': 'Page "Nos producteurs"',
		'href': 'app_products-admin',
		'subLinkList': {
			'text': 'Producteurs',
			'href': 'app_products-admin',
			},
		},
		{
		'text': 'Page "Nous trouver"',
		'href': 'app_products-admin',
		},
		{
		'text': 'Page "Nous Contacter"',
		'href': 'app_products-admin',
		},
		{
		'text': 'Page "Actualités"',
		'href': 'app_products-admin',
		'subLinkList': {
			'text': 'Actualités',
			'href': 'app_products-admin',
			},
		},	
		{
		'text': 'Page "Recettes"',
		'href': 'app_products-admin',
		'subLinkList': {
			'text': 'Recettes',
			'href': 'app_products-admin',
			},
		},
	]
	%}
	{% for link in linkList %}
		 <li class="m-linksPages">
				{% include '@atom/link/link.html.twig' with {
					text: link.text,
					icon: "/icons/file.svg",
					alt: link.text,
					attributeList: {
						class:"-withIcon",
						href: path( link.href ),
						title: link.text
					}
				} %}

			{% if link.subLinkList is defined %}
				<a href="{{ path( link.subLinkList.href )}}"  title="{{ link.subLinkList.text }}"  class="a-link"><div class="a-illuArbo"></div><img src="/icons/folder.svg" alt="">{{ link.subLinkList.text }}</a>
				</div>
			{% endif %}
		</li>
	{% endfor %}
</ul>
</nav>