{% set componentClass = 'm-cardWithImage' %}
{% set attributeList = attributeList is defined ? attributeList : {} %}
{% set attributeList = attributeList|merge({'class': (attributeList.class is defined ? componentClass ~' ' ~ attributeList.class : componentClass)}) %}
{% set tag = 'article' %}

<{{ tag }}{% for attribute, value in attributeList %} {{ attribute }}="{{ value }}"{% endfor %}>
    <!-- Product image-->
    {% if product.imageName %}
        <img src="{{ vich_uploader_asset(product, 'imageFile') | imagine_filter('medium') }}" alt="{{ product.productName }}"  class="m-cardWithImage__image"/>
    {% else %}
        <img src="https://via.placeholder.com/400x200" alt="aucune image pour ce produit" class="m-cardWithImage__image">
    {% endif %}

    <!-- Product name-->

    <h2 class="a-title2">{{ product.productName }}</h2>

        <!-- Product status information (offline/online)-->
    {% if status is defined and status == "backOffice" %}
        {% if product.state == TRUE %}
            <p class="m-cardWithImage__state generic-flex"><img src="/icons/online.svg" alt="icon check" class="a-icon"><span class="generic-m8_row">En ligne</span></p>
        {% else %}
            <p class="m-cardWithImage__state generic-flex"><img src="/icons/offline.svg" alt="icon check" class="a-icon"><span class="generic-m8_row">Hors ligne</span></p>
        {% endif %}
    {% endif %}

    <!-- Product control-->
    
    <div class="m-cardWithImage__buttons generic-m8_row">
        {% if status is defined and status == "backOffice" %}

        {% include '@atom/button/button.html.twig' with {
            text: "Modifier",
            attributeList: {
                class: '-primaryGhost',
                href: path('edit_product-admin', {id : product.id}),
                title:"Modifier le produit",
            }
        } only %}

        <!-- Product status control (offline/online)-->

        {% if product.state == TRUE %}
            {% include '@atom/button/button.html.twig' with {
                text: "Dépublier",
                attributeList: {
                    class: '-primaryGhost',
                    href: path('products_publication-admin', {id : product.id}),
                    title:"Dépublier le produit",
                }
            } only %}
        {% else %}
            {% include '@atom/button/button.html.twig' with {
                text: "Publier",
                attributeList: {
                    class: '-primaryGhost',
                    href: path('products_publication-admin', {id : product.id}),
                    title:"Publier le produit",
                }
            } only %}
        {% endif %}

        {% elseif status is defined and status == "frontOffice"  %}
            {% include '@atom/button/button.html.twig' with {
                text: text | default('var is not defined'),
                attributeList: {
                    class: '-website',
                    href: path('details_product', { 'id' : product.id }),
                }
            } only %}
        {% endif %}
    </div>
</{{ tag }}>