<section>
	{{ form_start(formProduct) }}

	<div class="generic-whiteBackground">
	{{ form_row(formProduct.productName) }}

	{{ form_row(formProduct.productDescription) }}
		
	{{ form_row(formProduct.productPrice) }}
                
	<div class="form-bloc__double">
		{{ form_row(formProduct.unityValue) }}
		{{ form_row(formProduct.unity) }}
		{{ form_row(formProduct.category) }}
	</div>

	

	{{ form_row(formProduct.imageFile) }}
	</div>

	{% include '@atom/button/button.html.twig' with {
		text: formSubmitLabel,
		attributeList: {
			class: '-primary',
			title: formSubmitLabel,
			type:"submit"
		}
	} only %}
	{{ form_end(formProduct) }}
</section>