<section>
	{{ form_start(formProduct) }}

	<div class="generic-whiteBackground">
	{{ form_row(formProduct.productName) }}

	{{ form_row(formProduct.productDescription) }}
		
	{{ form_row(formProduct.productPrice) }}
                
	<div class="form-bloc__double">
		{{ form_row(formProduct.unityValue) }}
		<div class="formInput">
			{{ form_label(formProduct.unity) }}
			{{ form_widget(formProduct.unity, {'attr': {'class': 'formField -disabled', 'title': 'Merci de choisir le type d\'article'}}) }}
		</div>
		{{ form_row(formProduct.category) }}
	</div>

	{{ form_row(formProduct.imageFile) }}
	</div>

	<div class="form__buttons-spaceBetween -align-end">

	<div class="formInput -relative -width js-input-with-image">
		{{ form_label(formProduct.state) }}
		{{ form_widget(formProduct.state, {'attr': {'class': 'formField'}}) }}
	</div>


	<div class="generic-flex generic-gap24">
		{% include '@atom/button/button.html.twig' with {
			text: "Supprimer",
			attributeList: {
				class: '-alertGhost',
				href: path('delete_product-admin', {id : product.id }),
				onclick:"confirm('Voulez vous vraiment supprimer ce produit?') || event.preventDefault()",
				title:"Supprimer le produit",
			}
		} only %}
		{% include '@atom/button/button.html.twig' with {
			text: formSubmitLabel,
			attributeList: {
				class: '-primary',
				title: formSubmitLabel,
				type:"submit"
			}
		} only %}
	</div>

	{{ form_end(formProduct) }}

	</div>
</section>