{% extends 'base_backOffice.twig' %}

{% block body %}
	{% include('backOffice/includes/_pagesNav.html.twig') %}
	<h1>{{ formTitle }}</h1>
	<section>
		{{ form_start(formProduct) }}
		{{ form_widget(formProduct) }}
		<button type="submit">{{ formSubmitLabel }}</button>
		{{ form_end(formProduct) }}
	</section>
{% endblock %}
