{% extends 'base_backOffice.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
	{% include('backOffice/includes/_pagesNav.html.twig') %}
	<div class="">
		<h1>Produits</h1>
		<section>
			<a href="{{ path('add_product') }}" class="" title="">Ajouter un produit</a>
			{% for product in products %}
				<!-- Product image-->
				{% if product.imageName %}
					<img src="{{ vich_uploader_asset(product, 'imageFile') | imagine_filter('min') }}" alt="{{ product.productName }}"/>
				{% else %} 
				    <img src="https://via.placeholder.com/80" alt="Card image cap"> 
                {% endif %}
					<!-- Product name-->
					<h2>{{ product.productName }}</h2>
					<!-- Product status-->
					<p><img src="" alt="">En ligne{# à dynamiser #}</p>
					<!-- Product control-->
					<a  class="a-btn -primary" href="{{ path('edit_product', {id : product.id }) }}">Modifier</a>
					<button class="a-btn -alert" href="{{ path('delete_product', {id : product.id }) }}" onclick="confirm('Voulez vous vraiment suprimer ce produit?') || event.preventDefault()">Supprimer</button>
			{% endfor %}
		</section>
	</div>
{% endblock %}