<!-- on défini le nom de ce component (ici "tag") -->
{% set componentClass = 'a-button' %}
<!-- 
  it will take the attributes which will be given to it during its integration. if there has.
-->
{% set attributeList = attributeList is defined ? attributeList : {} %}
<!--
  in the attribute list, if a class is declared Then we add it to the class already defined
-->
{% set attributeList = attributeList|merge({'class': (attributeList.class is defined ? componentClass ~' ' ~ attributeList.class : componentClass)}) %}
<!--
  "a" is the button's default value. however if no link is declared it will take the button tag
-->
{% set defaultTag = 'a' %}
{% if attributeList.href is not defined %}
  {% set defaultTag = 'button' %}
  {% set attributeList = {'type': 'button'}|merge(attributeList) %}
{% endif %}
{% set tag = tag is defined ? tag : defaultTag %}
<{{ tag }}{% for attribute, value in attributeList %} {{ attribute }}="{{ value }}"{% endfor %}>
  {% if icon is defined %}
      <img src="{{ icon }}" alt="{{ text }}" title="{{ text }}">
  {% endif %}
  <span>{{ text }}</span>
</{{ tag }}>