{% extends 'base.html.twig' %}

{% block body %}
{% if form is defined and form %}
	<div class="l-frontOffice__content -centerBlock">
	{{ form_start(form) }}
		
	{{ form_row(form.subject) }}

	{{ form_row(form.message) }}

	{% include '@atom/button/button.html.twig' with {
		text: "Envoyer",
		attributeList: {
			class: '-primary',
			title: "Envoyer",
			type:"submit"
		}
	} only %}
	{{ form_end(form) }}
{% elseif contacts is defined and contacts %}
    {% for contact in contacts %}
        <h3>{{ contact.fullName }}</h3>
        <p>{{ contact.subject }}</p>
        <p>{{ contact.message }}</p>


        {% include '@atom/button/button.html.twig' with {
            text: "Répondre",
            attributeList: {
                class: '-primaryGhost',
                href: path('app_dashboardMessage-admin', {id : contact.id}),
                title:"Répondre",
            }
        } only %}
        
    {% endfor %}
{% endif %}

{% endblock %}
