{% set componentClass = 'o-gallery' %}
{% set attributeList = attributeList is defined ? attributeList : {} %}
{% set attributeList = attributeList|merge({'class': (attributeList.class is defined ? componentClass ~' ' ~ attributeList.class : componentClass)}) %}
{% set tag = 'section' %}

<{{ tag }}{% for attribute, value in attributeList %} {{ attribute }}="{{ value }}"{% endfor %}>
    {% if status is defined and status == "backOffice" %}
        <a href="{{ path('add_product-admin') }}" class="o-gallery__newCard" title="Ajouter un produit"><img src="/icons/add.svg" class="a-icon" alt="icon +">Ajouter un produit</a>
    {% endif %}
    {% for product in products %}
        {% include '@molecule/card-with-image/card-with-image.html.twig' with {
            text: CardText | default('En savoir plus'),
            attributeList: {
                class: CardClass | default('En savoir plus'),
            }
        } %}
    {% endfor %}
</{{ tag }}>