{% extends 'base_backOffice.twig' %}

{% block title %}Modifier mes informations{% endblock %}
{% block body %}
<a class="a-textAriane" href="{{ path('app_products') }}">< Retour au site</a>
<div class="form-center">
    <h1 class="a-title1 -center">Modifier mes informations</h1>
    {{ form_start(userForm) }}
        {{ form_row(userForm.firstname) }}
        {{ form_row(userForm.lastname) }}

        <div class="generic-center generic-m40t">
            {% include '@atom/button/button.html.twig' with {
                text: "Envoyer",
                attributeList: {
                    class: '-primary',
                    title:"Envoyer",
                    type:"submit"
                }
            } only %}
            {% include '@atom/button/button.html.twig' with {
                text: "Annuler",
                attributeList: {
                    class: '-primaryGhost',
                    title:"Retour à la connexion",
                    href: path('app_login'),
                }
            } only %}
        </div>
    {{ form_end(userForm) }}
</div>


{% endblock %}